<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">

    <title>Home</title>
</head>
<body>
    <div class="main-content">
{{>header}}
    <p>This site was created by Ekpo Ukeme.It uses api from mapbox and darksky to compute the forecast</p>
        <img  class="portrait" src="/img/me.png" alt="Image of the site creator">
    </div>
    
        {{>footer}}
   
</body>
</html>