<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">

    <title>Home</title>
</head>
<body>
    <div class="main-content">
{{>header}}
    <p>about page from dynamic<p>
        <img  class="portrait" src="/img/chi.jpg" alt="Image of the creater">
    </div>
    
        {{>footer}}
   
</body>
</html>